@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;700&display=swap');
:root{
	--nav-bg-color: #fff;
	--nav-text-color: #000;
	--nav-logo-color: #000;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    color: #fff;
    background: #000;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Zilla Slab', serif, system-ui, -apple-system;
    background: rgb(255, 255, 255);
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
.nav-list.active {
    transform: translateX(0);
}
.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(0, 0, 0);
    margin: 8px;
    transition: 0.3s;
}