@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;700&display=swap');
:root{
    --banner-bg-color: #000;
    --banner-text: #fff;
    --banner-hover-action: #fff;
    --banner-color-link: rgb(146, 146, 243);
    --info-bg-color: #f2f2f2;
}
html{
    font-family: 'Zilla Slab', serif, system-ui, -apple-system;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 28rem;
    font-family: 'Zilla Slab', serif, system-ui, -apple-system;
    color: var(--banner-text);

    background-image: url("../images/background-banner.png");
    background-position: center;
    background-size: cover;
    
}

.sentence {
    font-size: clamp(1rem, 3rem, 3.5rem);
    font-weight: 700;
    text-align: center;
}

.action-button { 
    border: 2px solid var(--banner-text);
    margin-top: 2rem;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--banner-text);
    transition: 0.6s;
}

.action-button:hover {
    background-color: var(--banner-hover-action);
    color: var(--banner-bg-color); 
    opacity: 100%;  
}

.info-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 10rem;
    margin: -4rem auto 2rem auto;
    background-color: var(--banner-bg-color);
    color: var(--banner-text);
    border-radius: 5px;
}
.sentence2 {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Zilla Slab', serif;
    font-weight: 400;
}
.linkwhowe {
    font-size: 1.2rem;
    margin-top: 24px;
    color: var(--banner-text);
    text-decoration: underline;
    transition: 0.5s;
}
.linkwhowe:hover {
    font-size: 1.2rem;
    margin-top: 24px;
    color: var(--banner-hover-action);
}
.info-tldev {
    display: flex;
    height: 20rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.text-title {
    font-size: xx-large;
    font-weight: 500;
    margin: 2rem;
}
.division-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box-info {
    width: 30%;
    text-align: center;
    text-align: center;
}
.box-info img {
    width: 82px;
    height: 82px;
    border-radius: 5px;
    margin-top: 2rem;
}
.box-title {
    font-weight: 500;
    margin: 1rem;
}
.box-content {
    font-size: larger;
    margin-bottom: 2rem;
}
.summary{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 6rem;

}
.button-blog{
    border: 2px solid var(--banner-bg-color);
    margin-top: 2rem;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--banner-bg-color);
    transition: 0.6s;
}
.button-blog:hover{
    background-color: var(--banner-bg-color);
    color: var(--banner-text);  
    opacity: 100%;
}