@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;700&display=swap');
:root {
    --nav-bg-color: #fff;
    --nav-text-color: #000;
    --nav-logo-color: #000;
}

@media (max-width: 600px) {
    .sentence{
        font-size: 2rem;
        margin: 6px;
    }
    .sentence2 {
        font-size: large;
        margin: 10px;
    }
    .linkwhowe {
        font-size: large;
    }
    .division-box{
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: larger;
    }
    .box-info{
        width: 90%;
    }
    .box-title{
        font-size: larger;
    }

    .bottom-nav{
        flex-direction: column;
        height: 20rem;
      
    }
    .conventional-networks{
        text-align: center;
    }
    .summary{
        margin-top: 30rem;
    }
}
