<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>TLDev</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class = "nav">
        <span class="logo">
            <a href="/" class="text-logo">TLDEV</a>
        </span>
		<div class = "text-nav">
			<a href="" class = "page">Quem somos</a>
			<a href="" class = "page">O que fazemos</a>
			<a href="" class = "page">O que você pode fazer</a>
			<a href="" class = "page">Blog</a>
		</div>
	</div>
    {% block body  %}
    {% endblock %}
</body>
</html>
