{% extends 'base.html' %}

{% block body%}
    </header>
    <div class="banner">
        <h1 class="sentence">Deseja lançar sua plataforma virtual ?</h1>
        <a class="action-button" href="/">Contrate a TLDev</a>
    </div>
    <div class="info-banner">
        <h2 class="sentence2">Trabalhamos para garantir que o seu negócio esteja 100% online, aberto e acessível para todos</h2>
        <a class="linkwhowe" href="/">Saiba mais sobre nosso trabalho -></a>
    </div>
    <div class="info-tldev">
        <div class="info-title">
            <h2 class="text-title">Nossas áreas de foco</h2>
        </div>
        <div class="division-box">
            <div class="box-info">
                <h2 class="box-title">Conectados você ao seu cliente</h2>
                <p class="box-content">Criamos para você uma plataforma digital, podendo anunciar todos os seus produtos de forma totalmente digital</p>
            </div>
            <div class="box-info">
                <h2 class="box-title">Prestamos manutenção para sua loja virtual</h2>
                <p class="box-content">Temos suporte com manutenção para dos sites criados, fazemos correções de bugs e pequenas adaptações após o término do projeto</p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
{% endblock %}