{% extends 'base.html' %}

{% block body%}
    </header>
    <div class="banner">
        <h1 class="sentence">Deseja lançar sua plataforma virtual ?</h1>
        <a class="action-button" href="/">Contrate a TLDev</a>
    </div>
    <div class="info-banner">
        <h2 class="sentence2">Trabalhamos para garantir que o seu negócio esteja 100% online, aberto e acessível para todos</h2>
        <a class="linkwhowe" href="/">Saiba mais sobre nosso trabalho -></a>
    </div>
    <div class="info-tldev">
        <div class="info-title">
            <h2 class="text-title">Nossa área de foco</h2>
        </div>
        <div class="division-box">
            <div class="box-info">
                <img class="img-box" src="../static/images/result.png" alt="resultado">
                <h2 class="box-title">Nunca foi tão fácil ter resultados na internet!</h2>
                <p class="box-content">Aumente a visibilidade do seu negócio na internet e gere uma maior credibilidade para sua empresa.</p>
            </div>
            <div class="box-info">
                <img class="img-box" src="../static/images/conect.png" alt="resultado">
                <h2 class="box-title">Conectamos você ao seu cliente</h2>
                <p class="box-content">Sites totalmente personalizados e responsivos com alta performace. Nosso objetivo é ajudar o seu negócio a vender mais e trazer resultados para você!</p>
            </div>
        </div>
    </div>

    <div class="summary">
        <div class="info-title">
            <h2 class="text-title">Quem somos ?</h2>
        </div>
        <div class="box-info">
            <p class="box-content">A TLDEV é formada por um grupo de desenvolvedores focados em serviços Freelancer, onde buscamos entregar um serviço de qualidade e 100% online.</p>
        </div>
        <a href="http://" class="button-blog">Confira nossas atividades</a>
    </div>
    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
{% endblock %}